<div fxLayout="row wrap">

  <div fxFlex.gt-sm="25%" fxFlex.gt-xs="50" fxFlex="100" *ngFor="let projects of Projects">
    <mat-card>
      <mat-card-title>{{ projects.name }}</mat-card-title>
      <mat-card-subtitle>{{ projects.description }}</mat-card-subtitle>

      <mat-divider></mat-divider>

      <mat-card-content>{{ projects.description }}</mat-card-content>

      <mat-divider></mat-divider>

      <mat-card-actions>
        <button mat-stroked-button color="primary">Open</button>

        <span fxFlex></span>
        <button mat-icon-button color="primary" matTooltip="Edit">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" matTooltip="Delete">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>

      <mat-divider></mat-divider>

      <mat-card-footer>
        <span>ID: {{ projects.id }}</span>
      </mat-card-footer>

    </mat-card>
  </div>


</div>
