$gutter: 1rem !default;

.mat-card {

  padding: 0;
  margin: ($gutter/3);

  .mat-card-title {
    padding-top: $gutter;
    padding-left: $gutter;
    padding-right: $gutter;
    line-height: 1;
    font-size: 16px;
    font-weight: 400;
  }

  .mat-card-subtitle {
    padding-left: $gutter;
    padding-right: $gutter;
    line-height: 1;
    font-size: 13px;
  }

  .mat-card-content {
    padding: $gutter;
    margin-bottom: 0;
    position: relative;
  }

  .mat-card-actions,
  .mat-card-actions:last-child {
    padding: $gutter / 2;
    margin: 0;
  }

  .mat-card-footer {
    padding: $gutter / 2 $gutter;
    margin: 0;
    line-height: 1;
    font-size: 13px;
  }

}
