<mat-toolbar color="primary">

  <mat-toolbar-row>

    <button (click)="toggleSidenav.emit()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

    <span>AppName</span>

    <span fxFlex></span>

    <button mat-icon-button matTooltip="Search">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button matTooltip="About">
      <mat-icon>info</mat-icon>
    </button>

  </mat-toolbar-row>

</mat-toolbar>
