<app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" fxFlex="250px">
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content class="app-inner">
    <app-request></app-request> <!-- TODO RouterOutlet -->
  </mat-sidenav-content>

</mat-sidenav-container>
