$mat-toolbar-height-desktop: 64px !default;

.mat-sidenav-container {
  position: relative;
  height: calc(100vh - #{$mat-toolbar-height-desktop});
}

.app-inner {
  position: relative;
  width: 100%;
  max-width: 100%;
}
