/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  outline: none;
  box-sizing:border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-weight: 300;
}

html {
  position: relative;
  min-height: 100%;
}
