<mat-toolbar color="primary">
  <mat-toolbar-row>

    <!--<mat-form-field>-->
      <input matInput placeholder="Requst name">
    <!--</mat-form-field>-->

    <span fxFlex></span>

    <button mat-stroked-button>Save</button>
    <button mat-stroked-button>Import</button>

  </mat-toolbar-row>
</mat-toolbar>

<!-- URL & GET params -->
<mat-card class="wrapper">
  <mat-card-header>Request</mat-card-header>
  <mat-card-content> <!-- fxLayout="column" -->

    <!-- Method, URL, Request(Button) -->
    <div fxLayout="row" fxLayoutGap="15px">
      <mat-form-field fxFlex="10">
        <input matInput placeholder="Method" type="text">
      </mat-form-field>

      <mat-form-field fxFlex="70">
        <input matInput placeholder="URL" type="url">
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
      </mat-form-field>

      <button fxFlex mat-flat-button color="primary">Send</button>
    </div>

    <!-- GET params -->
    <div>
      <div fxLayout="row" fxFlexOffset="calc(10% + 15px)" fxLayoutGap="15px" fxFlex="70">
        <mat-form-field fxFlex="30">
          <input matInput placeholder="Name" type="text">
        </mat-form-field>

        <mat-form-field fxFlex="60">
          <input matInput placeholder="Value" type="text">

          <span matSuffix>
            <mat-slide-toggle color="primary" matTooltip="is variable ?"></mat-slide-toggle>
          </span>

        </mat-form-field>

        <button mat-icon-button>
          <mat-icon>indeterminate_check_box</mat-icon>
        </button>
      </div>
    </div>

  </mat-card-content>
</mat-card>

<!-- Header, Body, Auth, Variables -->
<mat-card class="wrapper">
  <mat-card-content>

    <mat-tab-group dynamicHeight>

      <mat-tab label="Headers">
        <div fxLayout="row" fxLayoutGap="15px">
          <mat-form-field fxFlex="30">
            <input matInput placeholder="Name" type="text">
          </mat-form-field>

          <mat-form-field fxFlex>

            <input matInput placeholder="Value" type="text">

            <span matSuffix>
              <mat-slide-toggle color="primary" matTooltip="is variable ?"></mat-slide-toggle>
            </span>

          </mat-form-field>

          <button mat-icon-button>
            <mat-icon>indeterminate_check_box</mat-icon>
          </button>
        </div>
      </mat-tab>

      <mat-tab label="Body">
        <div fxLayout="row" fxLayoutGap="15px">
          <mat-form-field fxFlex="30">
            <input matInput placeholder="Name" type="text">
          </mat-form-field>

          <mat-form-field fxFlex>
            <input matInput placeholder="Value" type="text">
            <span matSuffix>
              <mat-slide-toggle color="primary" matTooltip="is variable ?"></mat-slide-toggle>
            </span>
          </mat-form-field>

          <button mat-icon-button>
            <mat-icon>indeterminate_check_box</mat-icon>
          </button>
        </div>
      </mat-tab>

      <mat-tab label="Authorization" disabled></mat-tab>

      <mat-tab label="Variables">

        <div fxLayout="row">
          <mat-form-field fxFlex>

            <!-- TODO *ngFor и перебираем -->
            <input matInput placeholder="name" type="text" value="test">

          </mat-form-field>
        </div>

      </mat-tab>
    </mat-tab-group>

  </mat-card-content>
</mat-card>
