<mat-nav-list> <!-- Todo Разобраться с многоуровневым меню + иконки -->
  <a mat-list-item routerLink="/">Index</a>
  <a mat-list-item routerLink="/projects">Projects list</a> <!-- Здесь до 5 пунктов из последних проектов + кнопка показать все -->
  <a mat-list-item routerLink="/request">Request</a>

  <a mat-list-item href="#">Link 1</a>
  <a mat-list-item href="#">Link 2</a>
  <a mat-list-item href="#">Link 3</a>
  <a mat-list-item href="#">Link 4</a>
  <a mat-list-item href="#">Link 5</a>
  <a mat-list-item href="#">Link 6</a>
  <a mat-list-item href="#">Link 7</a>
  <a mat-list-item href="#">Link 8</a>
</mat-nav-list>
